# Packages relating to our core code
requests
ray[serve]
transformers
torch
torchvision
torchserve
torch-model-archiver
pandas
pympler
numpy
scipy

# Packages related to the JupyterLab environment. Note that
# JupyterLab itelf is installed from conda-forge, because the packages
# in PyPI for Mac are currently unreliable.
nodejs
ipywidgets
matplotlib

